.textBlock {
}
.properNoun {
    background-color: aqua;
    color: red;
}

.properNoun:hover {
    cursor: pointer;
    background-color: aquamarine;
}

.markedBlockCursor {
    background-color: bisque !important;
    color: blue !important;
}